@import"./../../../../theme/variables";
.header-area{
    display: block;
    background-color: #313132;
    padding: 15px 10px;
    box-sizing: border-box;
}
.header-main{
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.logo img{
    width: 50px;
    height: auto;
}

.section1{
    display: block;
    width: 100%;
    padding: 80px 0px;
    box-sizing: border-box;
}
.section1-title{
    display: block;
    margin-bottom: 30px;
    width: 100%;
}
@media(max-width:900px){
    .section1-title{
        padding: 0px 20px;
        box-sizing: border-box;
    }
    .section1{
        padding: 50px 0px;
        box-sizing: border-box;
    }
}
.section1-title h3{
    color:#313132;
    font-family: $font-en-primary;
    font-style: normal;
    font-size: 30px;
    font-weight: 500;
    display: block;
    line-height: 38px;
    margin-bottom: 10px!important;
}
.section1-title p{
    color: #424446;
    font-family: $font-en-primary;
    font-weight: 500;
    font-size: 18px;
    display: block;
    line-height: 28px;
}
.section1-main{
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-gap: 20px;
    width: 100%;
    background-color: #ffff;
}
@media(max-width:1250px){
    .section1-main{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media(max-width:1100px){
    .section1-main{
        grid-template-columns: repeat(1, 1fr);
    }
}
.section1-left{
    display: block;
    width: 100%;
    padding: 70px 20px 50px 20px;
    box-sizing: border-box;
}
.section1-right{
    display: flex;
    align-items: center;
    justify-content:flex-start;
    background-color: #424446;
    padding: 70px 20px 50px 60px;
    box-sizing: border-box;
}
@media(max-width:400px){
    .section1-left{
        padding: 50px 20px 30px 20px;
    box-sizing: border-box;
    }
    .section1-right{
        padding: 50px 20px 20px 20px;
        box-sizing: border-box;
    }
}
.contact{
    display:block ;
}
.contact h3{
    color: #fff;
    font-family: $font-en-primary;
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 30px;
    margin-bottom: 40px!important;
    letter-spacing: 1px;
}
.contact ul{
    list-style: none;
    padding: 0px;
    margin: 0px;
}
.contact ul li{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px 30px;
    width: 100%;
    margin-bottom: 40px;
}

.icon{
    display: block;
}
.icon img{
    width: 33px;
    transition: all 0.3s linear;
}
.contact ul li a{
    color: #d7d6d6;
    font-family: $font-en-primary;
    font-style:normal;
    font-size: 17px;
    display: block;
    font-weight: 500;
    transition: all 0.3s linear;
}
.contact ul li:last-child{
    align-items: flex-start;
}
.contact h4{
    color: #d7d6d6;
    font-family: $font-en-primary;
    font-style:normal;
    font-size: 17px;
    display: block;
    font-weight: 500;
    margin-bottom: 7px!important;
    transition: all 0.3s linear;
}
.contact ul li:hover a{
    color: #fff;
}
.contact ul li:hover h4{
    color: #fff;
}
.contact ul li:hover img{
    transform: translateX(5px);
}
.form-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 15px!important;
}
.form-title h4{
    color: #363232;
    font-weight: 400;
    font-size: 17px;
    display: block;
    font-style: normal; 
}
.form{
    display: block;
}
.form-grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 0px 20px;
    width: 100%;
}
@media(max-width:530px){
    .form-grid{
        grid-template-columns: repeat(1, 1fr);
    }
}
.form-input{
    display: block;
    margin-bottom: 25px;
}
.form-field{
    display: block;
    width: 100%;
}
.form-field mat-label{
    color: #262525;
    font-family: $font-en-primary;
}
.sort-describe{
    display: block;
    margin-bottom: 15px;
}
.sort-describe p{
    color: #363232;
    font-family: $font-en-primary;
    font-style: normal;
    font-size: 16px;
    line-height: 25px;
    font-weight: 500;
}
.sort-describe p a{
    display: inline-block;
    color: #3f29d5;
    text-decoration: underline;
}
.check{
    display: block;
    margin-bottom: 30px;
}
.check .mat-check{
    color: #363232;
    font-family: $font-en-primary;
    font-style: normal;
    font-size: 15px;
    font-weight: 500;
}
::ng-deep.form-field.mat-form-field-appearance-outline .mat-form-field-wrapper{
    padding: 0px;
    margin: 0px;
}
::ng-deep.form-field.mat-form-field-appearance-outline .mat-form-field-infix{
    padding: 1em 0px 1.2em 0px;
    box-sizing: border-box;
    width: auto;
    min-width: 0px;
}
::ng-deep.form-field.mat-form-field-appearance-outline .mat-form-field-outline{
    color: #b7b7b7;
}
::ng-deep.mat-check .mat-checkbox-layout{
    white-space: pre-wrap;
}