<!--header-area-->
<div class="header-area">
    <div class="container">
     <div class="header-main">
         <!---logo-->
         <div class="logo">
             <a routerLink="/"><img src="./assets/images/image/Component 5 – 2.svg" alt=""></a>
         </div>
     </div>
    </div>
 </div>
 
<!----section1-->
<div class="section1">
    <div class="container">
        <!---title-->
        <div class="section1-title">
            <h3>Get in Touch</h3>
            <p>Have any project in your mind? Give us a call or drop us a line.Let's make some magic together.</p>
        </div>
        <div class="section1-main">
            <!--left-->
            <div class="section1-left">
                <!--form-title-->
                <div class="form-title">
                    <div>
                        <h4>Knock Us in a second</h4>
                    </div>
                    <div>
                        <h4>Required</h4>
                    </div>
                </div><!---end-->
                <!--form-->
                <div class="form">
                    <form action="#">
                        <div class="form-input">
                            <mat-form-field appearance="outline" class="form-field">
                                <mat-label>E-mail Address</mat-label>
                                <input type="email" value="" matInput>
                            </mat-form-field>
                        </div>
                    <!---grid-->
                    <div class="form-grid">
                        <div class="form-input">
                            <mat-form-field appearance="outline" class="form-field">
                                <mat-label>First Name</mat-label>
                                <input type="text" value="" matInput>
                            </mat-form-field>
                        </div>
                        <div class="form-input">
                            <mat-form-field appearance="outline" class="form-field">
                                <mat-label>Last Name</mat-label>
                                <input type="text" value="" matInput>
                            </mat-form-field>
                        </div>
                    </div><!---end-->
                    <div class="form-input">
                        <mat-form-field appearance="outline" class="form-field">
                            <mat-label>Phone Number</mat-label>
                            <input type="text" value="" matInput>
                        </mat-form-field>
                    </div>
                    <div class="form-input">
                        <mat-form-field appearance="outline" class="form-field">
                            <mat-label>Company Name</mat-label>
                            <input type="text" value="" matInput>
                        </mat-form-field>
                    </div>
                    <div class="form-input">
                        <mat-form-field appearance="outline" class="form-field">
                            <mat-label>Short Description</mat-label>
                            <input type="text" value="" matInput>
                        </mat-form-field>
                    </div>
                    <div class="sort-describe">
                        <p>The AIT family of companies may keep me informed with personalized emails about services.See our <a href="#">Privacy Policy</a> for more details or to opt-out at any time.</p>
                    </div>
                    <!---check-->
                    <div class="check">
                        <mat-checkbox class="mat-check">Subscribe me to recevie email updates Assistant Global Ltd.does not share or sell personal information.</mat-checkbox>
                    </div>
                    <!---sub-btn-->
                    <div class="sub-btn">
                        <button class="btn btn-change">Submit</button>
                    </div>
                    </form>
                </div>

            </div><!---end-->
            <!---section1-right-->
            <div class="section1-right">
                <div class="contact">
                    <h3>Contact Us</h3>
                    <ul>
                        <li>
                            <div class="icon">
                                <img src="./assets/images/image/gdsg.svg" alt="">
                            </div>
                            <div>
                                <a href="#">anistrade20@gmail.com</a>
                            </div>
                        </li>
                        <li>
                            <div class="icon">
                                <img src="./assets/images/image/Group 56.svg" alt="">
                            </div>
                            <div>
                                <a href="#">Live Chat</a>
                            </div>
                        </li>
                        <li>
                            <div class="icon">
                                <img src="./assets/images/image/Path 284.svg" alt="">
                            </div>
                            <div>
                                <a href="#">/anisulislam</a>
                            </div>
                        </li>
                        <li>
                            <div class="icon">
                                <img src="./assets/images/image/Group 66.svg" alt="">
                            </div>
                            <div>
                                <h4>CALL US</h4>
                                <a href="#">+880-73463-7363</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</div>
