@import'./variables';
*{
    padding: 0px;
    margin: 0px;
}
body{
    display: block;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    font-family: $font-en-primary;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    padding: 0px;
    margin: 0px;
}
a{
    display: block;
    text-decoration: none;
    color: #000;
    cursor: pointer;
}
a:hover{
    text-decoration: none;
    color: #000;
}
h1,h2,h3,h4,h5,h6,p{
    display: block;
    margin: 0px!important;
}
img{
    display: block;
    width: 100%;
}
.clearfix::after{
    content: "";
    display: block;
    clear: both;
}
.container{
    display: block;
    max-width: $container-max-width;
    width: 100%;
    margin: auto;
}