@import'./../../../theme/variables';
.header-area{
    display: block;
    background-color: #313132;
    height: 60px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 160;
}
.header-main{
    display: grid;
    grid-template-columns: 80px 1fr 100px;
    width: 100%;
    grid-template-rows: auto;
    grid-gap: 10px;
    position: relative;
    box-sizing: border-box;
}
.logo{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.logo img{
    width: 50px;
    height: auto;
}
.menu-area{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;
}
.menu-area ul{
    list-style: none;
    padding: 0px;
    margin: 0px;
}
.menu-area ul li{
    display: inline-block;
    margin-right: 40px;
}
.menu-area ul li:last-child{
    margin: 0px;
}
.menu-area ul li a{
    color: #dcdbdb;
    font-family: $font-en-primary;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    display: block;
    position: relative;
}
.menu-area ul li a::after{
    content: "";
    width: 0px;
    height: 2px;
    background-color: #dcdbdb;
    position: absolute;
    right: 0px;
    bottom: -3px;
    transition: all 0.2s linear;
}
.menu-area ul li:hover > a::after{
    width: 100%;
    left: 0px;
}
.icon-menu{
    display: block;
    width:100%;
}
.icon-menu ul{
    list-style: none;
    padding: 0px;
    margin: 0px;
    text-align: right;
}
.icon-menu ul li{
    display: inline-block;
    // margin-right: 15px;
    padding: 5px;
    box-sizing: border-box;
    color: #fff;
    font-size: 20px;
}
.icon-menu ul li:last-child{
    margin: 0px;
}
.icon-menu ul .bars{
    display: none;
}
.search-box-area{
    display: flex;
    align-items: center;
    justify-content:center;
    max-width: 600px;
    width: 100%;
    margin: auto;
    background-color: #313132;
    padding: 5px 10px;
    box-sizing: border-box;
    transition: all 0.3s linear;
}

.search-box-area input{
    width: 100%;
    background-color: #313132;
    color: #fff;
    font-family: $font-en-primary;
    font-style: normal;
    font-size: 17px;
    font-weight: 500;
    padding: 0px 10px;
    height: 35px;
    box-sizing: border-box;
    border: 1px solid #313132;
    outline: none;
    border-radius: 5px 0px 0px 5px;
}
.search-box-area button{
    background-color: #313132;
    color: #888888;
    font-size: 20px;
    height: 35px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 0px 5px 5px 0px;
}
@media(max-width:600px){
    .menu-area{
        display: none;
    }
    .header-main{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .icon-menu ul .bars{
        display: inline-block;
    }
    .icon-menu ul li{
        margin-right: 15px;
    }
}
.overlay{
    background-color: rgb(0 0 0 / 50%);
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 200;
}
.slide-menu{
    width: 250px;
    height: 100vh;
    background-color: #fff;
    z-index: 210;
    position: fixed;
    top: 0px;
    left: -100%;
    padding: 30px 10px;
    box-sizing: border-box;
    transition: all 0.3s linear;
}
.slide-active{
    left: 0px;
}
.slide-menu ul{
    list-style: none;
    padding: 0px;
    margin: 0px;
}
.slide-menu ul li{
    display: block;
    margin-bottom: 10px;
}
.slide-menu ul li a{
    color: #313132;
    font-family: $font-en-primary;
    font-style: normal;
    font-size: 18px;
    font-weight:600;
    padding: 10px 10px;
    box-sizing: border-box;
    transition: all 0.3s linear;
}
.slide-menu ul li a:hover{
    transform: translateX(5px);
    color: #3b3bf8;
}
/**** end header ****/


.donate{
    display: block;
    text-align: center;
    padding: 20px 10px;
    box-sizing: border-box;
    margin-top: 60px;
}
.donate a{
    color: #3b3bf8;
    font-family: $font-en-primary;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    display: block;

}
.banner-area{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60vh;
    background-image: url(./../../../assets/images/image/bg.png);
    width: 100%;
    background-size: cover;
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-position: top center;
    position: relative;
    z-index: 10;
    padding: 20px 15px;
    box-sizing: border-box;
    // margin-bottom: 70px;
}
.banner-area::after{
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 38%);
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -10;
}
.banner-main{
    display: block;
    text-align: center;
}
.banner-main h3{
    color: #fff;
    font-family: $font-en-primary;
    font-style: normal;
    font-weight: 400;
    display: block;
    font-size: 33px;
    letter-spacing: 1px;
    display: block;
    line-height: 40px;
    margin-bottom: 15px!important;
}
.banner-main p{
    color:#f0f4f8;
    font-family:$font-en-primary;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    display: block;
    line-height: 30px;
    max-width: 650px;
    width: 100%;
    margin: 10px auto 40px auto!important;
}
@media(max-width:610px){
    .banner-area h3{
        font-size: 30px;
        line-height: 35px;
    }
    .banner-main p{
        font-size: 17px;
        line-height: 26px;
        margin: 10px auto 30px auto!important;

    }
    .donate a{
        font-size: 17px;
        line-height: 23px;
    }
}

.play-btn{
    display: block;
    width: 100%;
}
.play-btn span{
    width: 70px;
    position: absolute;
    bottom: -35px;
    left: 0px;
    right: 0px;
    margin: auto;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    color:#313132;
    background-color: #fff;
    font-size: 20px;
    z-index: 30;
    border-radius: 50%;
    box-shadow: 0 3px 5px 0 rgb(0 0 0 / 10%),0 -3px 5px 0 rgb(0 0 0 / 10%);
}
.play-btn span:hover{
    animation: zoom 0.7s infinite linear alternate;
}
@keyframes zoom{
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.2);
    }
}
/**** section1 ****/
.section1{
    display: block;
    width: 100%;
    padding: 90px 0px 30px 0px;
    background-color: #fff;
}
.section1-title{
    display: block;
    margin-bottom: 100px;
    width: 100%;
    text-align: center;
}
.section1-title h3{
    color: #313132;
    font-family: $font-en-primary;
    font-style: normal;
    font-weight: 500;
    display: block;
    font-size: 35px;
    display: block;
    margin-bottom: 13px!important;
    line-height: 35px;
    letter-spacing: 1px;
}
.section1-title p{
    color: #313132;
    font-family: $font-en-primary;
    font-weight: 500;
    font-size: 19px;
    display: block;
    font-style: normal;
}
.section1-main{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    max-width: 1300px;
    width: 100%;
    margin: auto;
    padding: 0px 20px;
    box-sizing: border-box;
}
@media(max-width:1100px){
    .section1-main{
        grid-template-columns: repeat(3,1fr);
        grid-gap: 50px 20px;
    }
}
@media(max-width:830px){
    .section1-main{
        grid-template-columns: repeat(2,1fr);
        grid-gap: 50px 20px;
    }
}
@media(max-width:550px){
    .section1-main{
        grid-template-columns: repeat(1,1fr);
        grid-gap: 50px 20px;
    }
}
.card{
    background-color: #fff;
    box-shadow: 0 3px 10px 0 rgb(0 0 0 / 15%),0 -3px 3px 0 rgb(0 0 0 / 0%);
    border-radius: 10px;
    position: relative;
    z-index: 20;
    box-sizing: border-box;
}
.card::after{
    content: "";
    display:block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #313132;
    border-radius: 10px;
    z-index: -20;
    transition: all 0.3s linear;
    visibility: hidden;
    opacity: 0;
    transform: scaleY(0);
    transform-origin: bottom;
}
.card:hover::after{
    visibility: visible;
    opacity: 1;
    transform: scaleY(1);
}
.card-icon{
    background-color: #313132;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin:-25px auto 0px auto;
}
.card-icon img{
    width: 30px;
    height: 30px;
}
.card-body{
    display: block;
    text-align: center;
    padding: 20px 20px 3px 20px;
    box-sizing: border-box;
    margin-top: 30px;
    min-height: 210px;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    justify-content: center;
    flex-direction: column;
}
.card-body h3{
    color: #313132;
    font-family: $font-en-primary;
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
    display: block;
    margin-bottom: 20px!important;
    transition: all 0.3s linear;
}
.card-body p{
    font-size: 17px;
    font-weight: 400;
    color: #313132;
    font-family:$font-en-primary;
    font-style: normal;
    line-height: 30px;
    transition: all 0.3s linear;
}
.card:hover h3,.card:hover p{
    color: #fff;
}
/*** section2 ***/
.section2{
    display: block;
    background-color: #fbfbfd;
    padding: 80px 20px;
    width: 100%;
    box-sizing: border-box;
}
.section2-main{
    display: grid;
    grid-template-columns: 1fr 1.15fr;
    grid-gap: 20px;
    width: 100%;
}
@media(max-width:1100px){
    .section2-main{
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 40px 20px;
    }
}
.section2-left{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.section2-left h3{
    color: #313132;
    font-family: $font-en-primary;
    font-size: 32px;
    font-style: normal;
    line-height: 44px;
    display: block;
    max-width: 380px;
    letter-spacing: 0.5px;
    width: 100%;
    margin: 0px auto 10px auto!important;
}
.section2-left p{
    color: #313132;
    font-family: $font-en-primary;
    font-size: 17px;
    font-weight: 500;
    display: block;
    margin-top: 10px!important;
}
@media(max-width:500px){
    .section2-left h3{
        font-size: 28px;
        line-height: 36px;
    }
}
.section2-left img{
    width: 45px;
    height: 45px;
    margin: 0px auto 10px auto;
}
.section2-left img:hover{
    animation: rotate 1s linear infinite reverse;
}
@keyframes rotate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.section2-right{
    display: block;
    width: 100%;
}
.section2-right ul{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px 20px;
    width: 100%;
    list-style: none;
    padding: 0px;
    margin: 0px;
}
@media(max-width:600px){
    .section2-right ul{
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 20px;
    }
    .section2{
        padding: 50px 15px;
    }
}
.section2-right ul li{
    background-color: #fff;
    box-shadow: 0 3px 10px 0 rgb(0 0 0 / 10%),0 -3px 3px 0 rgb(0 0 0 / 0%);
    padding: 15px 20px;
    box-sizing: border-box;
    border-radius: 5px;
    position: relative;
    z-index: 20;
}

.section2-right ul li::after{
    content: "";
    display:block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #313132;
    border-radius: 5px;
    z-index: -20;
    transition: all 0.3s linear;
    visibility: hidden;
    opacity: 0;
    transform: scaleX(0);
    transform-origin:left;
}
.section2-right ul li:hover::after{
    visibility: visible;
    opacity: 1;
    transform: scaleX(1);
}
.section2-right ul li a{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    color: #313132;
    font-family: $font-en-primary;
    font-style: normal;
    font-size: 17px;
    display: block;
    font-weight: 500;
    transition: all 0.3s linear;
  
}
.section2-right ul li:hover > a{
    color: #fff;
}
.section2-right ul li a i{
    margin-right: 15px;
}
/**** section3 *****/
.section3{
    display: block;
    width: 100%;
    padding: 30px 20px 20px 20px;
    box-sizing: border-box;
    background-color: #ffff;
}
.section3-main{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    width: 100%;
}
@media(max-width:920px){
    .section3-main{
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px 20px;
    }
}
.section3-left{
    display: flex;
    align-items: center;
    justify-content:center ;
}
.section3-left img{
    max-width:520px;
    margin: auto;
}
.section3-right{
    display: flex;
    align-items: center;
    justify-content:center;
    width: 100%;
    text-align: center;
}
.section3-right h3{
    color: #313132;
    font-family: $font-en-primary;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    display: block;
    line-height: 35px;
    margin-bottom: 15px!important;
    text-transform: uppercase;
    letter-spacing:1px;
}
.section3-right p{
    color: #313132;
    font-family: $font-en-primary;
    font-weight: 500;
    font-size: 17px;
    display: block;
    font-style: normal;
    line-height: 25px;
    margin-bottom: 4px!important;
}
