<!--header-area-->
<div class="header-area">
    <div class="container" [ngSwitch]="searchBar">
     <div class="header-main" *ngSwitchCase="false">
         <!---logo-->
         <div class="logo">
             <img src="./assets/images/image/Component 5 – 2.svg" alt="">
         </div>
         <!--menu-area-->
         <div class="menu-area">
             <ul>
                 <li><a routerLink="/">Home</a></li>
                 <li><a (click)="whyUsScroll()">Why Us</a></li>
                 <li><a (click)="servicesScroll()">Services</a></li>
                 <li><a routerLink="./../get-in-touch">Contact</a></li>
             </ul>
         </div>
         <!---icon-menu-->
         <div class="icon-menu">
             <ul>
                 <li (click)=" searchBoxShow()"><i [class]="searchBar?'fa fa-xmark':'fa fa-search'"></i></li>
                 <li class="bars" (click)="slideToggle()"><i class="fa fa-bars"></i></li>
             </ul>
         </div>
     </div>
      <!---search-box-area-->
      <div class="search-box-area" [class.search-box-active]="searchBar" *ngSwitchCase="true">
        <button ><i class="fa fa-search"></i></button>
        <input type="text" value="" placeholder="Search AIT.com..">
        <button (click)='searchBoxHide()'><i class="fa fa-xmark"></i></button>
     </div>
    </div>
 </div>
<!---end--> 
<!--slide-menu-->
<div class="overlay" *ngIf="slide == true" (click)="slideToggle()" ></div>
<div class="slide-menu" [class]="slide?'slide-active':'s'">
    <ul>
        <li><a routerLink="/" (click)="slideToggle()">Home</a></li>
        <li><a (click)="whyUsScroll()" (click)="slideToggle()">Why Us</a></li>
        <li><a (click)="servicesScroll()" (click)="slideToggle()">Services</a></li>
        <li><a routerLink="./../get-in-touch" (click)="slideToggle()">Contact</a></li>
    </ul>
</div>
<!--donate-->
<div class="donate">
    <div class="container">
        <a href="#">Donate to support families affected by the war in Ukraine</a>
    </div>
</div>
<!---banner-area-->
<div class="banner-area">
    <div class="container">
        <div class="banner-main">
            <h3>Global Technology Solution is here</h3>
            <p>We esnsure Documentation, Prototype and Development of application that is scalable with the best customer experience.</p>
            <a routerLink="./../get-in-touch" class="btn">Get Started</a>
            <!--play-btn-->
            <div class="play-btn">
                <span><i class="fa fa-play"></i></span>
            </div> 
        </div>
    </div>
</div>
<!---section1-->
<div class="section1" #why>
    <div class="container">
        <div class="section1-title">
            <h3>Our Solutions</h3>
            <p>We Provide the solutions best for the clients</p>
        </div>
        <!---section1-main-->
        <div class="section1-main">
            <!---card-->
            <div class="card">
                <!--card-icon-->
                <div class="card-icon">
                    <img src="./assets/images/image/report.svg" alt="">
                </div>
                <div class="card-body">
                    <h3>Easy user interface</h3>
                    <p>Unlike other company we provide solution with easy to use user interface</p>
                </div>
            </div><!---end-->
               <!---card-->
               <div class="card">
                <!--card-icon-->
                <div class="card-icon">
                    <img src="./assets/images/image/technorati.svg" alt="">
                </div>
                <div class="card-body">
                    <h3>Latest Technology</h3>
                    <p>Unlike other company we provide solution with easy to use user interface</p>
                </div>
            </div><!---end-->
               <!---card-->
               <div class="card">
                <!--card-icon-->
                <div class="card-icon">
                    <img src="./assets/images/image/scale.svg" alt="">
                </div>
                <div class="card-body">
                    <h3>Scalable</h3>
                    <p>Unlike other company we provide solution with easy to use user interface</p>
                </div>
            </div><!---end-->
               <!---card-->
               <div class="card">
                <!--card-icon-->
                <div class="card-icon">
                    <img src="./assets/images/image/support.svg" alt="">
                </div>
                <div class="card-body">
                    <h3>Support</h3>
                    <p>Unlike other company we provide solution with easy to use user interface</p>
                </div>
            </div><!---end-->
        </div>
    </div>
</div>

<!---section2-->
<div class="section2" id="services" #services>
    <div class="container">
        <div class="section2-main">
            <div class="section2-left">
             <div>
                <img src="./assets/images/image/Path 294.svg" alt="">
                <h3>Services we provide for your business</h3>
                <p>We provide various services according to your business needs.</p>
             </div>
            </div>
            <!--right-->
            <div class="section2-right">
                <ul>
                    <li><a href="#"><i class="fa fa-angle-right"></i>Software Development</a></li>
                    <li><a href="#"><i class="fa fa-angle-right"></i>Mobile Application</a></li>
                    <li><a href="#"><i class="fa fa-angle-right"></i>Ecommerce Solution</a></li>
                    <li><a href="#"><i class="fa fa-angle-right"></i>Website Design</a></li>
                    <li><a href="#"><i class="fa fa-angle-right"></i>Web Application</a></li>
                    <li><a href="#"><i class="fa fa-angle-right"></i>API</a></li>
                    <li><a href="#"><i class="fa fa-angle-right"></i>Cloud Solution</a></li>
                    <li><a href="#"><i class="fa fa-angle-right"></i>IT Consulting</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>



<!---section3-->
<div class="section3">
    <div class="container">
        <div class="section3-main">
            <!--section3-left-->
            <div class="section3-left">
                <img src="./assets/images/image/image-for-ait-2.png" alt="">
            </div>
            <div class="section3-right">
                <div>
                    <h3>Trade in With Ait</h3>
                    <p>Make a deal with us to grow your startup for free</p>
                    <p>The trade is good for you and economy</p>
                    <a routerLink="./../get-in-touch"class="btn btn-change">Get started</a>
                </div>
            </div>
        </div>
    </div>
</div>